<div class="container">

    <div class="card-body">
        <h5 class="card-title">{{titulo}}</h5>
        <br>
        <form>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Nombre y apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="nombre_apellido" [(ngModel)]="familiar.nombre_apellido">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Parentesco</label>
                <div class="col-sm-6">
                    <select class="form-control" name="parentesco" [(ngModel)]="familiar.parentesco">
                        <option value="Madre">Madre</option>
                        <option value="Padre">Padre</option>
                        <option value="Hijo">Hijo</option>
                        <option value="Hija">Hija</option>

                      </select>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Edad</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="edad" [(ngModel)]="familiar.edad">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Esta a cargo?</label>
                <div class="col-sm-6">
                  <select class="form-control" name="a_cargo" [(ngModel)]="familiar.a_cargo">
                    <option value="Si">Sí</option>
                    <option value="No">No</option>
                  </select>
                </div>
              </div>
            <br>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Nivel de escolaridad</label>
                <div class="col-sm-6">
                    <select class="form-control" name="nivel_escolaridad" [(ngModel)]="familiar.nivel_escolaridad">
                        <option value="Primaria">Primaria</option>
                        <option value="Secundaria">Secundaria</option>
                        <option value="Universitaria">Universitaria</option>

                      </select>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Tipo institucion</label>
                <div class="col-sm-6">
                    <select class="form-control" name="tipo_institucion" [(ngModel)]="familiar.tipo_institucion">
                        <option value="Publica">Publica</option>
                        <option value="Privada">Privada</option>
                      </select>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Posee alguna discapacidad?</label>
                <div class="col-sm-6">
                    <select class="form-control" name="discapacidad" [(ngModel)]="familiar.discapacidad">
                        <option value="Si">Si</option>
                        <option value="No">No</option>
                      </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="nombres" class="col-form-label col-sm-2">Descripcion discapacidad</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="descripcion_discapacidad" [(ngModel)]="familiar.descripcion_discapacidad">
                </div>
            </div>

            <br>
            <button class="btn btn-success" role="button" (click)='create()'>Registrar familiar</button>
        </form>
    </div>
</div>